<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">Ecommerce AP2</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu"
      aria-controls="navbarMenu"
      aria-expanded="false"
      aria-label="Abrir menú"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/productos">Productos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/ofertas">Ofertas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/tienda">Tienda</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/mi-cuenta">Mi Cuenta</a>
        </li>

        <li class="nav-item">
          <a class="btn btn-primary ms-lg-3" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>